<div class="col-sm-12 form-group categories">
  
  <span ng-repeat="ngCat in ngCats">
    <input ng-change="search.submit()" ng-model="search.category" type="radio" name="category" id="cat_{{ngCat.catId}}" value="{{ngCat.catId}}">
    <label title="{{ngCat.catId}}" ng-click="search.catClick($event)" for="cat_{{ngCat.catId}}">{{ngCat.catName}}</label>
  </span>

</div>


<div class="col-sm-12 form-group sub_categories">
  <div ng-repeat="ngCat in ngCats" id="parent_{{ngCat.catId}}">
    <!-- I SORTA MAYBE WANT IT THE WAY I HAD IT ... children in ngCat -->
  </div>

  <!-- 
  <span ng-repeat="ngSubCat in ngSubCats">
    <input ng-change="search.submit()" ng-model="search.category" type="radio" name="category" id="cat_{{ngSubCat.id}}" value="{{ngSubCat.id}}">
    <label for="cat_{{ngSubCat.id}}">{{ngSubCat.name}}</label>
  </span>
  -->

</div>
