<div class="auctions results" id="results" >
  
  <div ng-repeat="auction in search.items" class="auction">
    <div class="info">
      <span class="price">{{auction.itemPrice | currency}}</span>
      <span class="ending">{{auction.itemEnd}}</span>
      <span class="bids">{{auction.itemBids}} Bids</span>
      
      <!-- <input ng-change="search.submit()" ng-model="search.category" type="radio" name="category" id="cat_{{ngCat.catId}}" value="{{ngCat.catId}}">
      <label title="{{ngCat.catId}}" ng-click="search.catClick($event)" for="cat_{{ngCat.catId}}">{{ngCat.catName}}</label> -->

      <input class="favorite" onchange="love(this)" type="checkbox" id="fav_{{auction.itemNumber}}" value="{{auction.itemNumber}}">
      <label for="fav_{{auction.itemNumber}}">fav</label>

      <!-- <a   href="#" rel="{{auction.itemNumber}}" >*</a> -->
    </div>
    <a class="photo_wrapper" href="{{auction.itemURL}}" target="_tab">
      <img data-imageloaded class="load" ng-src="{{auction.itemImage}}" alt="">
    </a>
  </div>
</div>
<div class="the_end loading" ng-show='search.atend'>That's all</div>
<div class="loading" ng-show='search.busy'>Loading data...</div>