<div class="modal fade" id="auctionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
        <h4 ng-model="details.title" class="modal-title" id="auctionModalLabel">{{details.title}}</h4>
      </div>
      <div class="modal-body">
        
        <img ng-repeat="image in details.images" ng-src="image" alt="" />
        <span ng-model="details.price">{{details.price}}</span>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>