<div class="seller col-sm-5">
  
  <div class="form-inline">
  <button type="button" class="btn btn-default" ng-class="{active: search.seller == 'all'}" ng-click="search.seller = 'all'; search.submit()">All Sellers</button>

  <select name="seller" class="form-control" ng-model="search.seller" ng-change="search.submit()">
    <option ng-repeat="ngSeller in ngSellers" ng-selected="{{ngSeller.sellerId == search.seller}}" value="{{ngSeller.sellerId}}" >{{ngSeller.name}}</option>
  </select>
  </div>
</div>
