<div>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_0"   value="0"><label for="cat_0">All</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_1"   value="1"><label for="cat_1">Antiques</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_15"  value="15"><label for="cat_15">Art</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_336" value="336"><label for="cat_336">Bath</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_99"  value="99"><label for="cat_99">Books</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_75"  value="75"><label for="cat_75">Movies</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_79"  value="79"><label for="cat_79">Music</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_170" value="170"><label for="cat_170">Cameras</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_10"  value="10"><label for="cat_10">Clothing</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_4"   value="4"><label for="cat_4">Collectibles</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_7"   value="7"><label for="cat_7">Electronics</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_8"   value="8"><label for="cat_8">Crafts</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_195" value="195"><label for="cat_195">Home</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_14"  value="14"><label for="cat_14">Glass</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_6"   value="6"><label for="cat_6">Jewelry</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_113" value="113"><label for="cat_113">Miscellaneous</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_13"  value="13"><label for="cat_13">Instruments</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_215" value="215"><label for="cat_215">Office</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_115" value="115"><label for="cat_115">Religious</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_364" value="364"><label for="cat_364">Education</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_18"  value="18"><label for="cat_18">Seasonal</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_12"  value="12"><label for="cat_12">Sports</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_20"  value="20"><label for="cat_20">Table-Kitchen</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_114" value="114"><label for="cat_114">Tools</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_9"   value="9"><label for="cat_9">Toys-Games</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_23"  value="23"><label for="cat_23">Transportation</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_427" value="427"><label for="cat_427">Travel</label>
</div>


<div id="art">
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_0" value="0"><label for="cat_0">All</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_15"  value=""><label for="cat_">Art</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_70"  value=""><label for="cat_">Art / Drawings</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_368" value=""><label for="cat_">Art / Indigenous Art</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_71"  value=""><label for="cat_">Art / Paintings</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_69"  value=""><label for="cat_">Art / Photography</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_234" value=""><label for="cat_">Art / Posters</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_116" value=""><label for="cat_">Art / Pottery</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_235" value=""><label for="cat_">Art / Prints</label>
  <input ng-change="auctions.submit()" ng-model="auctions.category" type="radio" name="category" id="cat_72"  value=""><label for="cat_">Art / Sculptures</label>
</div>

<div id="bath-body">
  "336" Bath &amp; Body</label>
  "339" Bath &amp; Body / Beauty Products</label>
  "337" Bath &amp; Body / Fragrances</label>
  "338" Bath &amp; Body / Personal Care</label>
</div>

<div id="books-movies-music">
  "2" Books/Movies/Music</label>
  "99"  Books/Movies/Music / Books</label>
  "132" Books/Movies/Music / Books / Antique/Collectible</label>
  "437" Books/Movies/Music / Books / Audiobooks</label>
  "128" Books/Movies/Music / Books / Children's</label>
  "74"  Books/Movies/Music / Books / Collections/Sets</label>
  "127" Books/Movies/Music / Books / Cookbooks</label>
  "125" Books/Movies/Music / Books / Fiction</label>
  "244" Books/Movies/Music / Books / Fiction / Action</label>
  "245" Books/Movies/Music / Books / Fiction / Classic Literature</label>
  "247" Books/Movies/Music / Books / Fiction / Drama</label>
  "248" Books/Movies/Music / Books / Fiction / Fantasy</label>
  "246" Books/Movies/Music / Books / Fiction / Modern Literature</label>
  "252" Books/Movies/Music / Books / Fiction / Mystery</label>
  "253" Books/Movies/Music / Books / Fiction / Mythology</label>
  "251" Books/Movies/Music / Books / Fiction / Romance</label>
  "249" Books/Movies/Music / Books / Fiction / Sci-Fi</label>
  "250" Books/Movies/Music / Books / Fiction / Western</label>
  "126" Books/Movies/Music / Books / Non-Fiction</label>
  "278" Books/Movies/Music / Books / Non-Fiction / Architecture &amp; Design</label>
  "257" Books/Movies/Music / Books / Non-Fiction / Art &amp; Photography</label>
  "254" Books/Movies/Music / Books / Non-Fiction / Biography &amp; Autobiography</label>
  "258" Books/Movies/Music / Books / Non-Fiction / Business</label>
  "259" Books/Movies/Music / Books / Non-Fiction / Computers &amp; Internet</label>
  "275" Books/Movies/Music / Books / Non-Fiction / Education</label>
  "260" Books/Movies/Music / Books / Non-Fiction / Family</label>
  "272" Books/Movies/Music / Books / Non-Fiction / Games &amp; Puzzles</label>
  "261" Books/Movies/Music / Books / Non-Fiction / Health &amp; Fitness</label>
  "255" Books/Movies/Music / Books / Non-Fiction / History</label>
  "262" Books/Movies/Music / Books / Non-Fiction / Hobbies &amp; Crafts</label>
  "271" Books/Movies/Music / Books / Non-Fiction / Home &amp; Garden</label>
  "273" Books/Movies/Music / Books / Non-Fiction / Humor</label>
  "263" Books/Movies/Music / Books / Non-Fiction / Law &amp; Government</label>
  "264" Books/Movies/Music / Books / Non-Fiction / Military</label>
  "277" Books/Movies/Music / Books / Non-Fiction / Outdoor &amp; Nature</label>
  "265" Books/Movies/Music / Books / Non-Fiction / Performing Arts</label>
  "266" Books/Movies/Music / Books / Non-Fiction / Philosophy</label>
  "276" Books/Movies/Music / Books / Non-Fiction / Psychology</label>
  "267" Books/Movies/Music / Books / Non-Fiction / Science &amp; Technology</label>
  "270" Books/Movies/Music / Books / Non-Fiction / Self Help</label>
  "268" Books/Movies/Music / Books / Non-Fiction / Social Sciences</label>
  "269" Books/Movies/Music / Books / Non-Fiction / Sports &amp; Recreation</label>
  "274" Books/Movies/Music / Books / Non-Fiction / Transportation</label>
  "256" Books/Movies/Music / Books / Reference</label>
  "220" Books/Movies/Music / Books / Religion</label>
  "75"  Books/Movies/Music / Movies</label>
  "241" Books/Movies/Music / Movies / Blu-ray Disc</label>
  "76"  Books/Movies/Music / Movies / DVDs</label>
  "242" Books/Movies/Music / Movies / HD DVD</label>
  "243" Books/Movies/Music / Movies / Laserdisc</label>
  "78"  Books/Movies/Music / Movies / Reels</label>
  "77"  Books/Movies/Music / Movies / VHS</label>
  "79"  Books/Movies/Music / Music</label>
  "81"  Books/Movies/Music / Music / Cassette Tapes</label>
  "80"  Books/Movies/Music / Music / CDs</label>
  "82"  Books/Movies/Music / Music / Records/8-Track</label>
  "83"  Books/Movies/Music / Music / Sheet Music</label>
</div>

<div id="cameras-camcorders">
  "170" Cameras &amp; Camcorders</label>
  "173" Cameras &amp; Camcorders / Camcorders</label>
  "171" Cameras &amp; Camcorders / Digital Cameras</label>
  "172" Cameras &amp; Camcorders / Film Cameras</label>
  "174" Cameras &amp; Camcorders / Lenses &amp; Accessories</label>
  "394" Cameras &amp; Camcorders / Security &amp; Surveillance</label>
  "175" Cameras &amp; Camcorders / Vintage Cameras</label>
</div>

<div id="clothing">
  "10"  Clothing</label>
  "453" Clothing / Baby</label>
  "29"  Clothing / Children's Clothing</label>
  "166" Clothing / Children's Clothing / Accessories</label>
  "346" Clothing / Children's Clothing / Athletic Apparel</label>
  "160" Clothing / Children's Clothing / Dresses</label>
  "205" Clothing / Children's Clothing / Formal</label>
  "236" Clothing / Children's Clothing / Hats</label>
  "363" Clothing / Children's Clothing / Hoodies</label>
  "425" Clothing / Children's Clothing / Jeans</label>
  "142" Clothing / Children's Clothing / Outerwear</label>
  "143" Clothing / Children's Clothing / Pants</label>
  "206" Clothing / Children's Clothing / Retro/Vintage</label>
  "144" Clothing / Children's Clothing / Shirts</label>
  "163" Clothing / Children's Clothing / Shoes</label>
  "322" Clothing / Children's Clothing / Shorts</label>
  "400" Clothing / Children's Clothing / Skirts</label>
  "362" Clothing / Children's Clothing / Swimwear</label>
  "169" Clothing / Eyewear</label>
  "28"  Clothing / Men's Clothing</label>
  "165" Clothing / Men's Clothing / Accessories</label>
  "347" Clothing / Men's Clothing / Athletic Apparel</label>
  "357" Clothing / Men's Clothing / Blazers</label>
  "145" Clothing / Men's Clothing / Formalwear</label>
  "238" Clothing / Men's Clothing / Hats</label>
  "358" Clothing / Men's Clothing / Hoodies</label>
  "320" Clothing / Men's Clothing / Jeans</label>
  "146" Clothing / Men's Clothing / Outerwear</label>
  "147" Clothing / Men's Clothing / Pants</label>
  "167" Clothing / Men's Clothing / Retro/Vintage</label>
  "148" Clothing / Men's Clothing / Shirts</label>
  "161" Clothing / Men's Clothing / Shoes</label>
  "319" Clothing / Men's Clothing / Shorts</label>
  "150" Clothing / Men's Clothing / Suits</label>
  "149" Clothing / Men's Clothing / Sweaters</label>
  "360" Clothing / Men's Clothing / Swimwear</label>
  "414" Clothing / Men's Clothing / Vests</label>
  "27"  Clothing / Women's Clothing</label>
  "164" Clothing / Women's Clothing / Accessories</label>
  "348" Clothing / Women's Clothing / Athletic Apparel</label>
  "355" Clothing / Women's Clothing / Blazers</label>
  "151" Clothing / Women's Clothing / Dresses</label>
  "152" Clothing / Women's Clothing / Formalwear</label>
  "237" Clothing / Women's Clothing / Hats</label>
  "356" Clothing / Women's Clothing / Hoodies</label>
  "433" Clothing / Women's Clothing / Intimates</label>
  "153" Clothing / Women's Clothing / Jeans</label>
  "361" Clothing / Women's Clothing / Maternity</label>
  "154" Clothing / Women's Clothing / Outerwear</label>
  "155" Clothing / Women's Clothing / Pants</label>
  "103" Clothing / Women's Clothing / Purses</label>
  "168" Clothing / Women's Clothing / Retro/Vintage</label>
  "156" Clothing / Women's Clothing / Shirts/Blouses</label>
  "162" Clothing / Women's Clothing / Shoes</label>
  "321" Clothing / Women's Clothing / Shorts</label>
  "157" Clothing / Women's Clothing / Skirts</label>
  "159" Clothing / Women's Clothing / Suits</label>
  "158" Clothing / Women's Clothing / Sweaters</label>
  "359" Clothing / Women's Clothing / Swimwear</label>
  "408" Clothing / Women's Clothing / Vests</label>
</div>

<div id="collectables">
  "4" Collectibles</label>
  "367" Collectibles / Action Figures, Maquettes &amp; Mini Busts</label>
  "434" Collectibles / Advertising</label>
  "386" Collectibles / Bells</label>
  "36"  Collectibles / Clocks</label>
  "419" Collectibles / Coca-Cola Memorabilia</label>
  "378" Collectibles / Coin Banks</label>
  "231" Collectibles / Coins and Paper Money</label>
  "140" Collectibles / Collector Plates</label>
  "37"  Collectibles / Comic Books</label>
  "325" Collectibles / Cookie Jars</label>
  "39"  Collectibles / Cups, Trays, Vases</label>
  "448" Collectibles / Die Cast Cars &amp; Trucks</label>
  "344" Collectibles / Figurines</label>
  "393" Collectibles / Fraternal Organizations</label>
  "105" Collectibles / Historical Documents</label>
  "41"  Collectibles / Hollywood Memorabilia</label>
  "422" Collectibles / Hollywood Memorabilia / Disney</label>
  "407" Collectibles / Lighters</label>
  "382" Collectibles / Local Interest</label>
  "42"  Collectibles / Lunch Boxes</label>
  "106" Collectibles / Military Memorabilia</label>
  "327" Collectibles / Military Memorabilia / Uniforms</label>
  "345" Collectibles / Music Boxes</label>
  "122" Collectibles / Music Memorabilia</label>
  "421" Collectibles / Music Memorabilia / Beatles</label>
  "420" Collectibles / Music Memorabilia / Elvis</label>
  "35"  Collectibles / Plush Toys</label>
  "43"  Collectibles / Post Cards/Photographs/Stationery</label>
  "326" Collectibles / Salt &amp; Pepper Shakers</label>
  "343" Collectibles / Spoons</label>
  "390" Collectibles / Sports</label>
  "409" Collectibles / Sports / Baseball</label>
  "410" Collectibles / Sports / Basketball</label>
  "411" Collectibles / Sports / Football</label>
  "412" Collectibles / Sports / Hockey</label>
  "413" Collectibles / Sports / NASCAR</label>
  "44"  Collectibles / Sports Cards/Trading Cards</label>
  "230" Collectibles / Stamps</label>
  "232" Collectibles / Trains</label>
</div>

<div id="computers-electronics">
  "7"   Computers &amp; Electronics
  "366" Computers &amp; Electronics / Car Audio
  "30"  Computers &amp; Electronics / Computers
  "179" Computers &amp; Electronics / Computers / Accessories
  "372" Computers &amp; Electronics / Computers / Accessories / Apple
  "177" Computers &amp; Electronics / Computers / Desktops
  "371" Computers &amp; Electronics / Computers / Desktops / Apple
  "176" Computers &amp; Electronics / Computers / Laptops
  "370" Computers &amp; Electronics / Computers / Laptops / Apple
  "452" Computers &amp; Electronics / Computers / Laptops / Parts &amp; Repair
  "451" Computers &amp; Electronics / Computers / Laptops / Refurbished
  "350" Computers &amp; Electronics / Computers / Networking
  "178" Computers &amp; Electronics / Computers / Peripherals
  "117" Computers &amp; Electronics / Computers / Software
  "365" Computers &amp; Electronics / Computers / Tablets
  "380" Computers &amp; Electronics / Home &amp; Business Phones
  "32"  Computers &amp; Electronics / Home Electronics
  "33"  Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games
  "305" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Atari 2600
  "306" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Atari 5200
  "307" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Atari 7800
  "308" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Atari Jaguar
  "309" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Atari Lynx
  "311" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / ColecoVision
  "310" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Intellivision
  "296" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Microsoft Xbox
  "297" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Microsoft Xbox 360
  "302" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo 3DS
  "301" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo 64
  "303" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo DS
  "304" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo GameBoy
  "323" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo GameBoy Advance
  "324" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo GameCube
  "298" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo NES
  "299" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo SNES
  "300" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo Wii
  "354" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Nintendo Wii U
  "443" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Playstation 4
  "450" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sega CD
  "312" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sega Dreamcast
  "313" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sega Game Gear
  "314" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sega Genesis
  "315" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sega Master System
  "316" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sega Saturn
  "293" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sony Playstation
  "294" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sony Playstation 2
  "295" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sony Playstation 3
  "317" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sony Playstation PSP
  "318" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / Sony Playstation Vita
  "444" Computers &amp; Electronics / Home Electronics / Gaming Systems &amp; Games / XBox One
  "182" Computers &amp; Electronics / Home Electronics / Home Audio/Theater
  "403" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / CD Players
  "404" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / MiniDisc Players
  "454" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / Projectors
  "401" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / Receivers &amp; Radios
  "405" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / Speakers
  "402" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / Tape Decks
  "381" Computers &amp; Electronics / Home Electronics / Home Audio/Theater / Turntables
  "180" Computers &amp; Electronics / Home Electronics / TVs
  "181" Computers &amp; Electronics / Home Electronics / VCRs/DVDs/DVRs/Blu-ray
  "183" Computers &amp; Electronics / Personal Electronics
  "185" Computers &amp; Electronics / Personal Electronics / Cell Phones &amp; Accessories
  "373" Computers &amp; Electronics / Personal Electronics / Cell Phones &amp; Accessories / Android
  "389" Computers &amp; Electronics / Personal Electronics / Cell Phones &amp; Accessories / Blackberry
  "375" Computers &amp; Electronics / Personal Electronics / Cell Phones &amp; Accessories / iPhone
  "374" Computers &amp; Electronics / Personal Electronics / Cell Phones &amp; Accessories / Windows
  "426" Computers &amp; Electronics / Personal Electronics / Digital Photo Frames
  "351" Computers &amp; Electronics / Personal Electronics / eBook Readers
  "233" Computers &amp; Electronics / Personal Electronics / GPS Devices
  "387" Computers &amp; Electronics / Personal Electronics / Headphones
  "118" Computers &amp; Electronics / Personal Electronics / MP3/CD Players &amp; Accessories
  "377" Computers &amp; Electronics / Personal Electronics / MP3/CD Players &amp; Accessories / iPod
  "186" Computers &amp; Electronics / Personal Electronics / PDAs
  "406" Computers &amp; Electronics / Personal Electronics / Portable DVD Players
  "417" Computers &amp; Electronics / Personal Electronics / Radios
  "431" Computers &amp; Electronics / Vintage Electronics
</div>

<div id="for-the-home">
  "195" For The Home
  "196" For The Home / Appliances
  "197" For The Home / Home Decor
  "198" For The Home / Home Decor / Baskets
  "199" For The Home / Home Decor / Clocks
  "200" For The Home / Home Decor / Furniture
  "201" For The Home / Home Decor / Lamps/Lighting
  "202" For The Home / Home Decor / Linens/Fabric/Textiles
  "441" For The Home / Home Decor / Linens/Fabric/Textiles / Quilts
  "203" For The Home / Home Decor / Pottery
  "204" For The Home / Home Decor / Silver &amp; Brass
  "240" For The Home / Outdoor/Garden
</div>

<div id="glass">
  "14"  Glass
  "331" Glass / Art Glass
  "332" Glass / Carnival Glass
  "328" Glass / Depression Glass
  "333" Glass / Elegant Glass
  "329" Glass / Fine Crystal
  "334" Glass / Opaque Glass
  "330" Glass / Pressed Glass
  "335" Glass / Vintage Glass
</div>

<div id="jewelry-gemstones">
  "6" Jewelry &amp; Gemstones
  "84"  Jewelry &amp; Gemstones / Bracelets
  "100" Jewelry &amp; Gemstones / Brooches/Pins
  "91"  Jewelry &amp; Gemstones / Costume Jewelry
  "90"  Jewelry &amp; Gemstones / Earrings
  "85"  Jewelry &amp; Gemstones / Jewelry Boxes
  "92"  Jewelry &amp; Gemstones / Jewelry Grabbags
  "102" Jewelry &amp; Gemstones / Jewelry Sets
  "436" Jewelry &amp; Gemstones / Loose Gemstones
  "101" Jewelry &amp; Gemstones / Men's Accessories
  "438" Jewelry &amp; Gemstones / Men's Accessories / Belt Buckles
  "86"  Jewelry &amp; Gemstones / Necklaces
  "87"  Jewelry &amp; Gemstones / Pendants
  "353" Jewelry &amp; Gemstones / Precious Metal Scrap
  "88"  Jewelry &amp; Gemstones / Rings
  "89"  Jewelry &amp; Gemstones / Watches
  "342" Jewelry &amp; Gemstones / Watches / Children's Watches
  "340" Jewelry &amp; Gemstones / Watches / Men's Watches
  "341" Jewelry &amp; Gemstones / Watches / Women's Watches
</div>

<div id="miscellaneous">
  "113" Miscellaneous
  "447" Miscellaneous / Binoculars &amp; Optics
  "119" Miscellaneous / Magazines
  "379" Miscellaneous / Pocket Knives
</div>

<div id="musical-instruments">
  "13"  Musical Instruments
  "192" Musical Instruments / Accessories
  "190" Musical Instruments / Brass
  "191" Musical Instruments / Electronic
  "193" Musical Instruments / Other
  "188" Musical Instruments / Percussion
  "187" Musical Instruments / Strings
  "189" Musical Instruments / Woodwinds
</div>

<div id="sports">
  "12"  Sports
  "112" Sports / Sporting Equipment
  "281" Sports / Sporting Equipment / Baseball
  "285" Sports / Sporting Equipment / Basketball
  "289" Sports / Sporting Equipment / Biking
  "292" Sports / Sporting Equipment / Billiards
  "291" Sports / Sporting Equipment / Bowling
  "392" Sports / Sporting Equipment / Camping &amp; Hiking
  "369" Sports / Sporting Equipment / Cycling
  "423" Sports / Sporting Equipment / Dance
  "376" Sports / Sporting Equipment / Equestrian
  "280" Sports / Sporting Equipment / Fishing
  "282" Sports / Sporting Equipment / Football
  "287" Sports / Sporting Equipment / Golf
  "391" Sports / Sporting Equipment / Health &amp; Fitness
  "284" Sports / Sporting Equipment / Hockey
  "279" Sports / Sporting Equipment / Hunting
  "290" Sports / Sporting Equipment / Skateboarding
  "283" Sports / Sporting Equipment / Soccer
  "286" Sports / Sporting Equipment / Tennis
  "288" Sports / Sporting Equipment / Water Sports
  "349" Sports / Sporting Equipment / Winter Sports
</div>

<div id="tableware-kitchenware">
  "20"  Tableware and Kitchenware
  "47"  Tableware and Kitchenware / Barware
  "56"  Tableware and Kitchenware / China
  "48"  Tableware and Kitchenware / Cookware
  "49"  Tableware and Kitchenware / Cutlery
  "68"  Tableware and Kitchenware / Dinnerware
  "51"  Tableware and Kitchenware / Dinnerware / Bowls
  "52"  Tableware and Kitchenware / Dinnerware / Cups/Mugs
  "53"  Tableware and Kitchenware / Dinnerware / Plates
  "54"  Tableware and Kitchenware / Dinnerware / Serving Pieces
  "55"  Tableware and Kitchenware / Dinnerware / Sets
  "57"  Tableware and Kitchenware / Flatware
  "58"  Tableware and Kitchenware / Flatware / Silver Plated
  "59"  Tableware and Kitchenware / Flatware / Stainless Steel
  "60"  Tableware and Kitchenware / Flatware / Sterling Silver
  "61"  Tableware and Kitchenware / Glassware
  "62"  Tableware and Kitchenware / Ovenware
  "63"  Tableware and Kitchenware / Serving Pieces
  "384" Tableware and Kitchenware / Serving Pieces / Holloware
  "383" Tableware and Kitchenware / Serving Pieces / Trays
  "64"  Tableware and Kitchenware / Small Appliances
  "65"  Tableware and Kitchenware / Table Linens
  "66"  Tableware and Kitchenware / Tea &amp; Coffee Accessories
  "67"  Tableware and Kitchenware / Tools &amp; Gadgets
</div>

<div id="toys-dolls-games">
  "9" Toys/Dolls/Games
  "109" Toys/Dolls/Games / Dolls
  "398" Toys/Dolls/Games / Dolls / Antique
  "449" Toys/Dolls/Games / Dolls / Fashion
  "397" Toys/Dolls/Games / Dolls / Modern
  "396" Toys/Dolls/Games / Dolls / Vintage
  "226" Toys/Dolls/Games / Educational
  "439" Toys/Dolls/Games / Educational / Educational Electronic Games
  "440" Toys/Dolls/Games / Educational / Educational Video Games
  "110" Toys/Dolls/Games / Games
  "121" Toys/Dolls/Games / Stuffed Animals
  "108" Toys/Dolls/Games / Toys
  "239" Toys/Dolls/Games / Toys / Antique
  "432" Toys/Dolls/Games / Toys / Cars &amp; Trucks
  "388" Toys/Dolls/Games / Toys / LEGO
</div>

<div id="travel-luggage">
  "427" Travel/Luggage
  "429" Travel/Luggage / Backpacks
  "430" Travel/Luggage / Briefcases
  "428" Travel/Luggage / Suitcases
</div>

<div id="crafts-hobbies">
  "8" Crafts &amp; Hobbies
  "418" Crafts &amp; Hobbies / Models &amp; Model Kits
  "446" Crafts &amp; Hobbies / Scouting &amp; Youth Groups
  "415" Crafts &amp; Hobbies / Sewing Machines
</div>
