<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="styles/styles.css">
    
    <script src="javascripts/vendor/jquery.min.js"></script>
    <script src="javascripts/vendor/angular.min.js"></script>
    <script src="javascripts/vendor/ng-infinite-scroll.min.js"></script>
    
</head>
<body>
  
  
  <div class="container-fluid" ng-app="goodwillApp" ng-controller='AuctionController'>
    <div class="row">
      <div class="col-lg-12">
        <div ng-include="'search.html'"></div>
        <!-- <form novalidate role="form" name="searchForm">
          <span ng-repeat="category in categories">
            <label for="cat-{{category.id}}">{{category.name}}</label>
            <input type="radio" id="cat-{{category.id}}" value="{{category.id}}" ng-model="category" ng-change="change()">
          </span>
        </form> -->
      </div>
    </div>
    
    <hr>
    <!-- col-lg-2 col-md-3 col-sm-3 col-xs-6 -->
  
    <div class="results">
      <div ng-show='auctions.empty'>So ... I don't know how to say this. But there's no results. Sorry about that.</div>

      <div infinite-scroll-immediate-check="false" infinite-scroll="auctions.getPage()" infinite-scroll-distance="5" infinite-scroll-disabled='auctions.busy' class="auctions" id="results" >

        <div ng-repeat="auction in auctions.items" class="auction">
          <div class="info">
            <span class="price">${{auction.itemPrice}}</span>
            <span class="ending">{{auction.itemEnd}}</span>
            <span class="bids">{{auction.itemBids}} Bids</span>
            <a ng-click="favorite()" href="#" rel="{{auction.itemNumber}}" class="favorite">*</a>
          </div>
          <a href="{{auction.itemURL}}" target="_blank">
            <img ng-src="{{auction.itemImage}}" alt="">
            <!-- {{auction.itemName}} {{auction.itemId}} {{auction.itemNumber}}  -->
          </a>
        </div>
      
      </div>
      <div ng-show='auctions.busy'>Loading data...</div>
    </div>
  
  </div>
  
  <script src="javascripts/client.js"></script>  

</body>
</html>
