.search_nav  

.search_font
  display: block
  font-size: 1em
  line-height: 1.5em
  font-weight: 300
  padding: 0 20px  

.search_form
  background: rgba(#000, .8)
  .input-group
    padding: 5px 20px
  .inline-form
    padding: 5px 20px
    .form-control
      display: inline-block
      width: 160px
  input[type="radio"]
    display: none
    &:checked+label
      background: rgba(0,0,0,.2)
  label
    @extend .search_font
    &:hover
      cursor: pointer
  h3
    @extend .search_font
    text-transform: uppercase
  
.terms
  background: transparent

.sellers
  background: transparent

.categories
  color: rgba(#fff, .8)

.sub_categories 
  label
    padding-left: 30px
  .child_categories
    color: rgba(#fff, .4)
    display: none
    
div#parent_0
  display: block

.views
  border-top: 1px solid rgba(255,255,255,.9)
  text-align: center
  a
    display: inline-block
    width: 40px
    padding: 5px 10px 
    border-radius: 4px
    margin: 5px
    &:hover
      text-decoration: none
    &.active
      border: 2px solid rgba(#fff, .5)
  h3
    text-align: center
    
  