@import 'bootstrap'

// .deckgrid[deckgrid]::before
//   content: '4 .column.column-1-4'
//   font-size: 0
//   visibility: hidden

// .deckgrid .column
//   float: left
// .deckgrid .column-1-4
//   width: 25%

// @media screen and (max-width: 480px)
//   .deckgrid[deckgrid]::before
//     content: '1 .column.column-1-1'
//   .deckgrid .column-1-1
//     width: 100%



$nav-height: 140px

body
  background: #fff
  padding-top: $nav-height

.headroom
  background: #fff
  padding: 10px 20px 20px 20px
  position: fixed
  top: 0
  z-index: 999
  transition: transform 200ms linear

.headroom--pinned
  transform: translateY(0%)

.headroom--unpinned
  transform: translateY(-100%)

ul
  margin: 0

li
  list-style: none
  display: inline-block
  vertical-align: top
  width: 10%
  padding: 20px
  img
    width: 100%
    height: auto
  a
    display: block

.disabled
  opacity: .5

#holder 
  display: none


.loading
  text-align: center
  font-size: 2em
  padding: 1em
  display: block
  width: 100%


#grid[data-columns]::before
  content: '3 .column.size-1of3'
  
  /* These are the es that are going to be applied: */
  .column 
    float: left
  .size-1of3 
    width: 33.333%

@media screen and (max-width: 480px)
  #grid[data-columns]::before 
    content: '1 .column.size-1of1'

@media screen and (min-width: 481px) and (max-width: 768px) 
  #grid[data-columns]::before 
    content: '2 .column.size-1of2'

@media screen and (min-width: 769px) 
  #grid[data-columns]::before 
    content: '3 .column.size-1of3'
  
/* Again, you’re free to use and define the classes: */
.column  
  float: left 
.size-1of1  
  width: 100% 
.size-1of2  
  width: 50% 
.size-1of3  
  width: 33.333% 



.results
  text-align: center
  .auction
    display: inline-block
    margin: 5px
    // display: none
    width: 240px
    position: relative
    margin-bottom: 10px
    &.favorite
      background: magenta
    &.loaded
      display: block
    p
      margin: .5em
      padding: 0 1em
    a
    img
      width: 100%
      height: auto

  *
    box-sizing: border-box 
  
  .photo_wrapper
    min-height: 100px
    background: #fff url(../images/spinner.gif) center 30px no-repeat
    position: relative
    overflow: hidden
    display: block
    margin: 0
    img 
      // transition: opacity .5s linear .5s
      transition: opacity .5s linear .5s 
      opacity: 1
      // display: block
      &.loaded
        opacity: 1

  
  .info
    background: rgba(0, 0, 0, 0.2)
    position: absolute
    z-index: 99
    bottom: -1px
    left: 0
    width: 100%
    box-sizing: border-box
    padding: 10px
    color: #fff
    font-weight: 700
    text-shadow: 0 1px 1px rgba(0,0,0,.4)
    overflow: hidden
    a
      display: inline-block
    span 
      display: inline-block
      margin-right: 10px
    
  .price
    
  .ending
    
  .bids
    
  .favorite
    color: #fff
    width: 10px
    height: 10px
    &.selected
      font-size: 2em

input[type="radio"]
  display: none
  &:checked+label
    background: rgba(0,0,0,.2)

label
  padding: 3px .5em
  border-radius: 15px
  line-height: 13px
  &:hover
    cursor: pointer