@import 'bootstrap'


$nav-height: 180px

body
  background: #fff
  padding-top: $nav-height

ul
  margin: 0

li
  list-style: none
  display: inline-block
  vertical-align: top
  width: 10%
  padding: 20px
  img
    width: 100%
    height: auto
  a
    display: block

.disabled
  opacity: .5

.visible, .show
  display: block
  opacity: 1

.categories 
  input[type="radio"]
    display: none
    &:checked+label
      background: rgba(0,0,0,.2)
  label
    padding: 3px .5em
    border-radius: 15px
    line-height: 13px
    &:hover
      cursor: pointer
.child_categories
  display: none

.results
  text-align: left
  transition: opacity .25s ease-in-out
  &.busy
    opacity: .5

.auction
  background: url(../images/spinner.gif) center 30px no-repeat
  display: inline-block
  margin: .5%
  width: 24%
  position: relative
  .info
    // transition: opacity .5s ease-in-out
    // opacity: 0
    background: rgba(0, 0, 0, 0.2)
    position: absolute
    z-index: 99
    bottom: -1px
    left: 0
    width: 100%
    box-sizing: border-box
    padding: 10px
    color: #fff
    font-weight: 700
    text-shadow: 0 1px 1px rgba(0,0,0,.4)
    overflow: hidden
    a
      display: inline-block
    span 
      display: inline-block
      margin-right: 10px
  img
    transition: opacity .25s ease-in-out
    opacity: 0
    width: 100%
    height: auto
    max-height: 300px
  
  &.is-loaded
    background: none
    .info
      // opacity: 1
    img
      opacity: 1  
  
  .details
    min-height: 100px
    position: relative
    overflow: hidden
    display: block
    margin: 0

.ui_feedback > div
  display: none
  text-align: center
  font-size: 2em

.loading
  text-align: center
  font-size: 2em
  padding: 1em
  display: block
  width: 100%


.page_loading 
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  background: rgba(0,0,0,.2)
  display: none
  
.headroom
  box-sizing: border-box
  background: rgba(255,255,255,.8)
  padding: 10px 20px 20px 20px
  position: fixed
  top: 0
  z-index: 999
  transition: transform 200ms linear

.headroom--pinned
  transform: translateY(0%)

.headroom--unpinned
  transform: translateY(-100%)
